{
  "presets": [
    ["es2015", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
    "modules": false
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "jsx-event-modifiers",
    "jsx-v-model",
    "transform-vue-jsx"
  ],
   "env": {
    "development": {
      "plugins": ["vue-jsx-hot-reload"]
    }
  }
}
