.vu-slider {
  line-height: 1;
  position: relative;

  &__progress {
    margin: 3px 0;
    &_padding {
      margin-left: 50px;
      margin-right: 50px;
    }
    &-bar {
      transition: all 2s;
      background-color: lightgrey;
      height: 3px;
      position: relative;
    }
  }

  &__dots {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    &_padding {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__dot {
    transition: all 0.5s;
    display: inline-block;
    margin: 0px 3px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: lightgrey;
    cursor: pointer;
    &_active {
      cursor: inherit;
      background-color: grey;
    }
  }

  &__content {
    overflow: hidden;
    line-height: 1;
    margin: auto;
    // height: 100%;
    position: relative;
    &-wrapper {
      position: relative;
      height: 100%;
      overflow: hidden;
    }
    &-items {
      // opacity: 1;
      position: absolute;
      // transition: all 2s;
      // transition: none;
      display: flex;
      &_hide {
        opacity: 0;
      }
    }

    &-item {
      user-select: none; 
      line-height: 1;
      img {
        max-width: initial;
        width: auto;
        opacity: 1;
        transition: opacity 0.3s;
        &.hide {
          opacity: 0;
        }
      }
    }
  }

  &__button {
    z-index: 1;
    transition: all 0.5s;
    opacity: 0;
    color: white;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    &_visible {
      opacity: 0.8;
    }

    &:not(&_disabled):hover, &:not(&_disabled):focus {
      .arrow polyline {
        stroke-width: 3;
      }
    }
    
    &_visible:not(&_disabled):hover {
      cursor: pointer;
    }

    &_outside {
      background: none;
      opacity: 0.8;
    }
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
    &_bottom-left {
      left: 0;
      bottom: 0px;
      height: 50px;
      width: 50%;
    }
    &_bottom-right {
      right: 0;
      bottom: 0px;
      height: 50px;
      width: 50%;
    }
    &_top-left {
      left: 0;
      top: 0px;
      height: 50px;
      width: 50%;
    }
    &_top-right {
      right: 0;
      top: 0px;
      height: 50px;
      width: 50%;
    }
  }

  // &:hover &__button {
  //   &_visible {
  //     opacity: 0.8;
  //   }
  // }
  &__spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

svg {
  padding: 5px;
}

.arrow {
  // cursor: pointer;
  polyline {
    transition: all 250ms ease-in-out;
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// .spinner {
//   width: 40px;
//   height: 40px;
//   background-color: #333;

//   // margin: 100px auto;
//   -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
//   animation: sk-rotateplane 1.2s infinite ease-in-out;
// }

// @-webkit-keyframes sk-rotateplane {
//   0% { -webkit-transform: perspective(120px) }
//   50% { -webkit-transform: perspective(120px) rotateY(180deg) }
//   100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
// }

// @keyframes sk-rotateplane {
//   0% { 
//     transform: perspective(120px) rotateX(0deg) rotateY(0deg);
//     -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
//   } 50% { 
//     transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
//     -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
//   } 100% { 
//     transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//     -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//   }
// }

.spinner {
  // margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}